<div class="bgy"></div>


<br><br>
<div class="row">
    <div class="col-sm-1"></div>
   
    <div class="col-sm-10 text-center">
        <div class="divform">
            <div class="row">
                <div class="col-sm-1 text-center"></div>
                <div class="col-sm-10 text-left">  
                  <br>
                  <h1 align="left">About,</h1>
                  <br></div>
            </div>      
        <div class="row">
            <div class="col-sm-1 text-center"></div>

        
            <div class="col-sm-5 text-left">
              <h4>Company name :</h4> <p>The official name of your business as registered in the state where you do business</p> 
              <h4>Type of business structure :</h4> <p>Sole proprietorship, LLC, partnership or corporation.</p> 
              <h4>Ownership/management team :</h4> <p>Names of the key people behind the company.</p> 
              <h4>Location :</h4> <p>Where is the company headquartered?</p> 
              <h4>Company history :</h4> <p>When was the business started, what inspired you to start the business, what need does your company fulfill?</p> 
            </div>
              <div class="col-sm-5 text-left">
              <h4> Mission statement :</h4> <p>A clear statement that represents the purpose of your company.</p> 
              <h4>Products/services and target market :</h4> <p>A brief overview of what you plan to sell and to whom.</p> 
              <h4>Objectives :</h4> <p>An outline of what you want to accomplish in the immediate future based on the data in the rest of the business plan as well future growth goals.</p> 
              <h4>Vision statement :</h4> <p>A statement about how you envision the future of the company.</p> 
            </div>
          </div>
            

       
        <div class="row">
            <div class="col-sm-1 text-center"></div>
            <div class="col-sm-10 text-left">  
                <br></div>
        </div> 
        <br><br>
    </div>
  </div>
</div>


<br><br> <br><br>