.bgy {
    /* The image used */
    background-image: url("/assets/79.jpg");
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;

    z-index: -1;
  }

  .divform {
    padding: 5px;
    border-radius: 15px;

    background-color: #202020;
    color: white;
    opacity: 0.9;
  
    
  
    z-index: 1;
  }
  
  