<div  class="headmy">
  <div class="page-header text-center ">
          <h1>Loan and Investment Mangement System </h1>
          <h1>-LIMS-</h1>    
  </div>
</div>

<nav class="navbar navbar-expand navbar-dark bg-dark" >
   
  
       
          <div class="navbar-header">
            <a class="navbar-brand" href="#">MyApp</a>
          </div>
          <ul class="nav navbar-nav" routerLinkActive="active">
            <li *ngIf="authority === 'user'||authority === 'admin'"  class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li *ngIf="authority === 'user'||authority === 'admin'"  class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="user">My Profile</a></li> 
            <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="ploan">Giving a Loan</a></li>

            <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="sloan">Getting a Loan</a></li>
            <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="getinvest">Getting an Investment</a></li>
            <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="investing">Giving an Investment</a></li>
            <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="lawyer"> Lawyers</a></li>

            <li *ngIf="authority === 'user'||authority === 'admin'" class="nav-item"><a class="nav-link" routerLink="messages">Messages</a></li>
            <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="announcement">Announcements</a></li>
            <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="userprof">View all Users</a></li>
            
           
            
            <li *ngIf="authority === 'admin'" class="nav-item"><a class="nav-link" routerLink="admin">Manage Users</a></li>
            <li *ngIf="authority === 'admin'" class="nav-item"><a class="nav-link" routerLink="lawyer">Manage Lawyers</a></li>
            <li *ngIf="authority === 'admin'" class="nav-item"><a class="nav-link" routerLink="announcement">Announcements Users</a></li>

            <li *ngIf="authority === 'pm'" class="nav-item"><a class="nav-link" routerLink="pm">PM Board</a></li>
            <li *ngIf="authority === 'pm'" class="nav-item"><a class="nav-link" routerLink="auth/login">Login</a> </li>
            <li *ngIf="authority === 'pm'" class="nav-item"><a class="nav-link" routerLink="signup">Register</a></li>

            <li *ngIf="authority === 'user'||authority === 'admin'"  class="nav-item"><a class="nav-link" routerLink="auth/login" (click)="logout()">Logout</a></li>
          </ul>
   
      
</nav>



<div *ngIf="authority === 'user'||authority === 'admin' ; else default">
    <router-outlet></router-outlet>
</div>


<ng-template #default>
    <app-login></app-login>
</ng-template>


<div >
  <div class="page-footer text-center ">
          <h5>Loan and Investment Mangement System</h5>
               
  </div>


  
</div>